.home .hero .description {
    max-width: 35rem;
    font-size: 2.4rem;
    line-height: 1.3;
    color: #6a8bad;
    font-weight: 600;
}
.home .footer {
    font-weight: lighter;
}

.sidebar-button {
  display:none !important
}

p {
  font-size: 1.2rem;
  color: #6a8bad;
  font-weight: 600;
  margin-top: -0.4rem;
}